@use '@angular/material' as mat;
@use 'sass:map';
@import "../styles.scss";

$color-config: mat.get-color-config($angular-material-theme-theme);
$primary-palette: map.get($color-config, 'primary');
$primary-color-500: mat.get-color-from-palette($primary-palette, 500);
$white: #ffffff;