<app-deal-table-filter (filter)="applyFIlter($event)"></app-deal-table-filter>

<button class="add-button" mat-raised-button color="accent" (click)="addDeal()">Add deal</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
  <!-- Position Column -->
  <ng-container matColumnDef="dealName">
    <th mat-header-cell *matHeaderCellDef> Deal Name </th>
    <td mat-cell *matCellDef="let element"> {{element.dealName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="dealType">
    <th mat-header-cell *matHeaderCellDef> Deal Type </th>
    <td mat-cell *matCellDef="let element"> {{element.dealType}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="purchasePrice">
    <th mat-header-cell *matHeaderCellDef> Purchase Price </th>
    <td mat-cell *matCellDef="let element"> {{element.purchasePrice | currency}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <ng-container matColumnDef="netOperatingIncome">
    <th mat-header-cell *matHeaderCellDef> NOI </th>
    <td mat-cell *matCellDef="let element"> {{element.netOperatingIncome | currency}} </td>
  </ng-container>

  <ng-container matColumnDef="capRate">
    <th mat-header-cell *matHeaderCellDef> Cap Rate </th>
    <td mat-cell *matCellDef="let element"> {{element.capRate | percent:".0-2"}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="viewDeal(element)">
        <mat-icon color="accent" fontIcon="visibility"></mat-icon>
      </button>
      <button mat-icon-button (click)="editDeal(element)">
        <mat-icon color="accent" fontIcon="edit"></mat-icon>
      </button>
      <button mat-icon-button (click)="openDialog(element)">
        <mat-icon color="accent" fontIcon="delete"></mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator 
  [pageSize]="5"
  [pageSizeOptions]="[1, 5, 10, 25]"
></mat-paginator>